<table class="table table-bordered">
  <thead>
    <tr>
      <th>Tipo Evento</th>
      <th>Descricao</th>
      <th>Dt Evento</th>
      <th>Obs</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <!-- @contratos.each do |contrato| %>
      <tr>
        <td><= contrato.tp_evento %></td>
        <td><= contrato.descricao %></td>
        <td><= contrato.dt_evento.strftime("%d/%m/%Y") %></td>
        <td><= contrato.obs %></td>
        <td><= link_to 'Show', contrato %></td>
        <td><= link_to 'Editar', edit_contrato_path(contrato) %></td>
        <td><= link_to 'Eliminar', contrato, method: :delete, data: { confirm: 'Confirma Exclusão?' } %></td>
      </tr>
    < end %-->

  </tbody>
</table>
