<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
  <li class="active"><a href="#contrato" role="tab" data-toggle="tab">Contratos</a></li>
  <!--li><a href="#kit" role="tab" data-toggle="tab">Componentes</a></li-->
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <!--div class="tab-pane active" id="produto">
      < render(:partial => "produto", :locals => {:produto => @produto}) >

  </div-->
  <div class="tab-pane active" id="contrato">
      <!--= render(:partial => "kits", :locals => {:produto_pai => @produto}) %>
  </div>
</div>
