<h3>Geração de Movimentos</h3>
<form>
<table>
<tr>
<td><label for="recipient-name" class="control-label">Forma de Pagamento:</label>
</td>
<td><select class="form-control" id="sel1">
    <option>Cheque</option>
    <option>Dinheiro</option>
</select>
</td>
</tr>
<tr>
<td><label>Conta Bancária:</label>
</td>
<td> </td>
</tr>



</table>
<div class="field">
   <%= "Movimento" %><br>
   <%= text_field %>
 </div>
</form>
