<!-- /.row -->

    <div class="panel panel-default" >
        <div class="panel-heading">
            <i class="fa fa-bar-chart-o fa-fw"></i> Financeiro:
            <div class="pull-right">
                <div class="btn-group">
                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                        Actions
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu pull-right" role="menu">
                        <li><a href="#">Action</a>
                        </li>
                        <li><a href="#">Another action</a>
                        </li>
                        <li><a href="#">Something else here</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
              <div class="col-lg-4 col-md-6">
                <div class = "row">
                  <div >
                      <div class="panel panel-primary">
                          <div class="panel-heading">
                              <div class="row">
                                  <div class="col-xs-3">
                                      <i class="fa fa-money fa-4x"></i>
                                  </div>
                                  <div class="col-xs-9 text-right">
                                      <div class="huge"><%= number_with_precision(@saldoCC, precision: 2) %></div>
                                      </br>
                                      <div>Saldo Atual</div>
                                  </div>
                              </div>
                          </div>
                          <a href="#">
                              <div class="panel-footer">
                                  <span class="pull-left">Detalhes</span>
                                  <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                  <div class="clearfix"></div>
                              </div>
                          </a>
                      </div>
                  </div>
                </div>
                <div class = "row">
                    <div >
                        <div class="panel panel-green" >
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-usd fa-4x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge"><%= number_with_precision(@PrxEntradas,precision: 2) %></div>
                                        </br>
                                        <div>Créditos Previstos - 30 dias</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                    <div class="panel-footer">
                                    <span class="pull-left">Detalhes</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                  </div>
              <div class = "row">
                  <div>
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-shopping-cart fa-4x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge"><%= number_with_precision(@PrxSaidas,precision: 2) %></div>
                                    </br>
                                    <div>Despesas Previstas - 30 dias</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">Detalhes</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-8 ">
                      <%= area_chart FechamentoCaixa.group(:periodo).sum(:vl_saldo), xtitle: "Meses" %>
              </div>
        </div>

        <!-- /.panel-body -->
    </div>
  </div>
