<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
  <li class="active"><a href="#produtos" role="tab" data-toggle="tab">Produtos</a></li>
  <li><a href="#equipamentos" role="tab" data-toggle="tab">Equipamentos</a></li>
  <li><a href="#faturamento" role="tab" data-toggle="tab">Faturamento</a></li>
  <li><a href="#form" role="tab" data-toggle="tab">Interessados</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="produtos">
      <%= render(:partial => "produtos", :locals => {:contrato => @contrato}) %>
  </div>
  <div class="tab-pane" id="equipamentos">
      <%= render(:partial => "equipamentos", :locals => {:contrato => @contrato}) %>
  </div>
  <div class="tab-pane" id="faturamento">
    <%= render(:partial => "mov_entrada", :locals => {:contrato => @contrato}) %>
  </div>
  <div class="tab-pane" id="form">...</div>
</div>
